<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="A complete landing page solution for any business">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	
	
    
	
      
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static2.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static1.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bundle.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ggl.css') }}">
	  	  
	  
      

    
        <title>Flask_Tutorial</title>
		{% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <script> alert('{{ message }}');</script>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}
    
</head>
<body id="top">
    <header class="header header-shrink header-inverse fixed-top">
         <div class="container">
            <nav class="navbar navbar-expand-lg">
               <a class="navbar-brand" href="{{url_for('home')}}">
               <span class="logo-default">
               <h2 class="logo-brand-color" style="color:white;">Flask_Eco</h2>
               </span>
               <span class="logo-inverse">
			  
               <h2 class="logo-brand-color-inverse">Flask_Eco</h2> 
			   
               </span>
               </a>
               <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                  <div class="hamburger hamburger--spin js-hamburger">
                     <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                     </div>
                  </div>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    
                     
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('home')}}" data-scrollto="reviews" onclick=helloworld() >LOG OUT</a>
                     </li>
                    
                  </ul>
               </div>
            </nav>
         </div>
      </header>
	   {% block content %}{% endblock %}
   <script>
   function helloworld()
   {
   alert('GoodBye');
   }
   </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="{{url_for('static', filename='jquery.min.js') }}"></script>
	
	</body>
	
</html>