{% extends "layout_w_lo.html" %}
{% block content %}


<section class="u-pt-md-150 pb-0 u-h-100vh bg-grey" style="margin-top: -30px;">

    <div class="col-lg-10 mx-auto u-pt-80" >




        <div class="card-body text-center mb-4" style="border-radius: 50px;box-shadow: 0 0 0 darkolivegreen, 0 5px 10px rgba(0, 0, 0, .35); ">


            <div class="bg-white box-shadow-v2 text-center p-5" style="border-radius: 50px;">


                <h1 style="font-family: 'Square Peg', cursive; font-size: 45px !important;">Upload your music below </h1>
                <div class="text-center" style="color:#8a5c5c;font-family: 'Cinzel', serif;"><b>Only .mp3 files are allowed</b></div>



                <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-20 mx-auto"></div>


                <div style="margin-top: -30px" id="remove_thing">

                    <div class="card tab_thing" title="Remove Files" style="cursor:pointer; border-radius: 120px; box-shadow: 0 0 0 darkolivegreen, 1px 1px 2px rgba(0, 0, 0, .35); padding:0.4% !important;opacity: 0.9;float:right;margin:10px;width:50px" onclick="fileclr()"> <i class="" style="cursor: pointer;" title="Remove All Files" >X</i></div>

                </div>





                <form method="post" name="files" action="{{url_for('login')}}" data-ajax="false" class="dropzone tab_thing text-center" id="dropzones" enctype="multipart/form-data" style="min-height: 150px;overflow:auto;min-width: 100%;border-radius:50px;box-shadow: inset 0 0 2.85px !important;padding:3.5% !important; font-family: Bitstream Vera Sans Mono, Monaco; cursor: pointer  " >
                    <div class="fallback">
                        <input type="file" name='files' id="file-names" accept=".mp3" />


                    </div>

                </form>




                <a  class="buttonn mb-2" id="filesubmit"  title="Register on Toner App" style="margin-top:60px;margin-left:50px;border-radius: 200px; cursor: pointer;" onclick="filesubmit()"  >
                    <span class="bbn" style="border-bottom:solid 2px rgba(300,175,125,85);opacity: 0.85;border-radius: 500px;text-shadow: 1px 1px 1px rgb(218,165,32) !important;font-size:large;min-width: 175px" >Done</span>
                </a>


            </div>


        </div>




    </div>



</section>



<script>

   /* Swal.fire({
        title: 'Submit your Github username',
        input: 'text',
        inputAttributes: {
            autocapitalize: 'off'
        },
        showCancelButton: true,
        confirmButtonText: 'Look up',
        showLoaderOnConfirm: true,
        preConfirm: (login) => {
            return fetch(`//api.github.com/users/${login}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText)
                    }
                    return response.json()
                })
                .catch(error => {
                    Swal.showValidationMessage(
                        `Request failed: ${error}`
                    )
                })
        },
        allowOutsideClick: () => !Swal.isLoading()
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: `${result.value.login}'s avatar`,
                imageUrl: result.value.avatar_url
            })
        }
    });

    if(typeof(String.prototype.trim) === "undefined")
    {
        String.prototype.trim = function()
        {
            return String(this).replace(/^\s+|\s+$/g, '');
        };
    }*/

    var totalfiles=[];
    var file_json={

    };
    var up_file_id='';
    var finished_files=0;


    let download_text='';


    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/javascript;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }

    function clr(){
        document.getElementById('inputText').value='';

    }

    function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    function get_fileID(f_name){
        return file_json[f_name];
    }

    function get_json(){
        return file_json;
    }
    //Grant's scripts

    //console.log("test1");
    //document.getElementById("todoInputForm").addEventListener('submit', performPostRequest);
    function performPostRequest() {


        var resultElement = document.getElementById('postResult');
        var textElement = document.getElementById('inputText').value;

        resultElement.innerHTML = '';



        axios.post("/api/handle_data", {
            userId: '1',
            title: textElement,
            completed: false
        })
            .then(function (response) {

                resultElement.innerHTML = response.data.vioAllDiv;
                download_text=response.data.vioAllScript;
                var elmnt = document.getElementById("result-panel");
                elmnt.scrollIntoView();
            })
            .catch(function (error) {
                console.log("error");
                resultElement.innerHTML = "<h2>An error has occured while processing your file</h2><br>"+error_text;
            });

    }

    document.addEventListener("DOMContentLoaded", function() {
        // access Dropzone here

        Dropzone.autoDiscover=false;
        var dropzone = new Dropzone('#dropzones', {
            autoProcessQueue: false,
            parallelUploads: 10,
            maxFilesize: 50,
            timeout:1200000,

            acceptedFiles: ".mp3",
            dictDefaultMessage: "Drop files here or click here to begin",
            dictDuplicateFile: "Duplicate Files Cannot Be Uploaded",

            preventDuplicates: true,
            init:function() {

                this.on("removedfile",function(file){
                    var boo=totalfiles.indexOf(file.name);
                    totalfiles.splice(boo,1);
                    delete file_json[file.name];
                    up_file_id='';
                });
                this.on("sending",function(file,xhr,formData){
                    formData.append("file_ID",get_fileID(file.name));
                });
                this.on("complete",function(file){

                });
                this.on("processing",function(){


                });

                this.on("maxfilesexceeded", function(file){
                    alert("Oops! Maximum file upload limit reached! removed the file from list: "+file.name );
                    dropzone.removeFile(file);
                });


            }
        });




    });




    function fileclr(){
        Dropzone.forElement("#dropzones").removeAllFiles(true);
    }

    function filesubmit(){
        //alert(this.up_file_id);
        var resultElement = document.getElementById('postResult');
        var textElement = document.getElementById('inputText').value;
        //console.log(resultElement);
        //console.log(textElement);
        resultElement.innerHTML = '';

        resultElement.innerHTML=" <div class="+'lds-default'+" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>"
        var elmnt = document.getElementById("result-panel");
        elmnt.scrollIntoView();


        axios.post("/api/handle_file_data", {
            userId: '1',
            f_id: this.up_file_id,
            completed: false

        })
            .then(function (response) {
                fileclr();

                download_text=response.data.vioAllScript;
                resultElement.innerHTML = response.data.vioAllDiv;
                var elmnt = document.getElementById("result-panel");
                elmnt.scrollIntoView();
            })
            .catch(function (error) {
                console.log("error");
            });
    }

    function dw_file(){
        //alert(moment());
        if(download_text.length<1){
            return;
        }
        download('lg4id_'+moment().format('ll')+'_'+ moment().format('LTS')+'.txt',download_text);
    }




</script>

<style>
    html {
        scroll-behavior: smooth;
    }

    .tab_thing {
        box-sizing: border-box;
        position: relative;
        padding: 2px !important;

        text-overflow: ellipsis;


        background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
        background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
        font-size: 1.2em !important;
        font-family: 'Josefin Sans', sans-serif;
        box-shadow: inset 0 -1px gainsboro, inset 0 1px 1px rgba(0, 0, 0, 0.05);

    }
    .lds-default {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;

    }
    .lds-default div {
        position: absolute;
        width: 3px;
        height: 3px;
        background: black;
        border-radius: 50%;
        animation: lds-default 1.2s linear infinite;
    }
    .lds-default div:nth-child(1) {
        animation-delay: 0s;
        top: 18.5px;
        left: 33px;
    }
    .lds-default div:nth-child(2) {
        animation-delay: -0.1s;
        top: 11px;
        left: 31px;
    }
    .lds-default div:nth-child(3) {
        animation-delay: -0.2s;
        top: 5.5px;
        left: 26px;
    }
    .lds-default div:nth-child(4) {
        animation-delay: -0.3s;
        top: 3.5px;
        left: 18.5px;
    }
    .lds-default div:nth-child(5) {
        animation-delay: -0.4s;
        top: 5.5px;
        left: 11px;
    }
    .lds-default div:nth-child(6) {
        animation-delay: -0.5s;
        top: 11px;
        left: 5.5px;
    }
    .lds-default div:nth-child(7) {
        animation-delay: -0.6s;
        top: 18.5px;
        left: 3.5px;
    }
    .lds-default div:nth-child(8) {
        animation-delay: -0.7s;
        top: 26px;
        left: 5.5px;
    }
    .lds-default div:nth-child(9) {
        animation-delay: -0.8s;
        top: 31px;
        left: 11px;
    }
    .lds-default div:nth-child(10) {
        animation-delay: -0.9s;
        top: 33px;
        left: 18.5px;
    }
    .lds-default div:nth-child(11) {
        animation-delay: -1s;
        top: 31px;
        left: 26px;
    }
    .lds-default div:nth-child(12) {
        animation-delay: -1.1s;
        top: 26px;
        left: 31px;
    }
    @keyframes lds-default {
        0%, 20%, 80%, 100% {
            transform: scale(0.8);
        }
        50% {
            transform: scale(1.5);
        }
    }

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 47px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: black;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(19px, 0);
        }
    }

    .dropzone {

        overflow-y: scroll;

    }


</style>



<script type="text/javascript" src="{{url_for('static', filename='dropzone.js') }}"></script>


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uploadwithstyle.css') }}">


{% endblock content %}